#Automação WEB e Busca de informações com Python#

In [1]:
#!pip install selenium

In [2]:
# Passo 1- Pegar cotação Dolar
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

  # Abrir navegador
navegador = webdriver.Chrome()
  # Entrar no google
navegador.get('https://www.google.com.br/')
  # Pesquisar cotação
navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotacao dolar')   
  # pegar valor dolar
navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

  # Capturar valor Cotação
cotacao_dolar=navegador.find_element('xpath',
                                     '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(cotacao_dolar)

 # passo 2- Pegar cotação Euro
    
    # Abrir navegador
navegador = webdriver.Chrome()
  # Entrar no google
navegador.get('https://www.google.com.br/')
  # Pesquisar cotação
navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotacao euro')   
  # pegar valor Euro
navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

  # Capturar valor Cotação
cotacao_euro=navegador.find_element('xpath',
                                     '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(cotacao_euro)

# passo 3- Pegar cotação Ouro

  # Entrar no google
navegador.get('https://www.melhorcambio.com/ouro-hoje')

  # Capturar valor Cotação
cotacao_ouro=navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',','.')

print(cotacao_ouro)

navegador.quit()

5.205299999999999
5.287621819
293.13

In [3]:
# Passo 4- Atualizar base de dados 
import pandas as pd

# importar tabela de dados

tabela = pd.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [4]:
# Passo 5- Recalcular os precos

# 1 - atualizar cotação
tabela.loc[tabela['Moeda']=='Dólar','Cotação']= float(cotacao_dolar)
tabela.loc[tabela['Moeda']== 'Euro','Cotação']= float(cotacao_euro)
tabela.loc[tabela['Moeda']== 'Ouro','Cotação']= float(cotacao_ouro)

# 2- ajustar preço de compra = Preco original * cotacao 
tabela['Preço de Compra']= tabela['Preço Original'] * tabela['Cotação']

# 3- Ajustar preço de venda = Preço de compra * margem
tabela['Preço de Venda']= tabela['Preço de Compra'] * tabela['Margem']


display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.205300,5205.247947,1.40,7287.347126
1,Carro Renault,4500.00,Euro,5.287622,23794.298185,2.00,47588.596371
2,Notebook Dell,899.99,Dólar,5.205300,4684.717947,1.70,7964.020510
3,IPhone,799.00,Dólar,5.205300,4159.034700,1.70,7070.358990
4,Carro Fiat,3000.00,Euro,5.287622,15862.865457,1.90,30139.444368
5,Celular Xiaomi,480.48,Dólar,5.205300,2501.042544,2.00,5002.085088
6,Joia 20g,20.00,Ouro,293.130000,5862.600000,1.15,6741.990000

In [5]:
# Passo 6- Exportar Base de dados
tabela.to_excel('Produtos_Novo.xlsx', index=False)